/* This is aplying style to everthing  */


/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* space between lines */
    line-height: 1.6em;
    /* get rid of spaces around box */
    margin: 0;
}

.clr {
    clear: both;
}

.container {
    /* Place box middle of page */
    width: 80%;
    margin: auto;
}

.button {
    background-color: darkgray;
    color: white;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background-color: red;
    color: white;
}

.box-1 {
    background-color: #333;
    color: white;
    border: 5px red solid;
    /* border-width: 3px;
    border-bottom-width: 10px; */
    /* padding is space within border */
    padding: 2opx;
    /* Margin is space outsite border */
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}


/* a:visited {
    color: yellow;
} */

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    list-style: none;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
}

.myform {
    padding: 20px;
}

.myform .form-group {
    padding-bottom: 15px;
}

.myform label {
    /* Display block puts the labels on a new line */
    display: block;
}

.myform input[type='text'],
.myform textarea {
    padding: 8px;
    width: 100%;
}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    /* This solves incorrect float */
    box-sizing: border-box;
}

.block h3 {
    text-align: center;
}

#main-block {
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: darkgray;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 20px;
    position: relative;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-position: 100px 200px;
    background-position: center top;
}

.p-box h1 {
    position: absolute;
    top: 250px;
    left: 400px;
    bottom: 250px;
    right: 400px;
}

.p-box h2 {
    position: absolute;
    top: 400px;
    left: 700px;
}

.my-list li:first-child {
    background-color: blue;
}

.my-list li:last-child {
    background: brown;
}

.my-list li:nth-child(5) {
    background: yellow;
}

.my-list li:nth-child(even) {
    background: grey;
}