.wrapper>div {
    background-color: #eee;
    padding: 1em;
}

.wrapper>div:nth-child(odd) {
    background-color: #ddd;
}

.wrapper {
    display: grid;
    /* This sets width od divs inside the wrapper */
    grid-template-columns: 70% 30%;
    /* Put space btn columns & rows */
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}